[project]
	description = simulator
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/eyalfishel
[access "refs/for/refs/*"]
	read = group user/eyalfishel
	push = group user/eyalfishel
	label-Code-Review = -2..+2 group user/eyalfishel
	label-Verified = -1..+1 group user/eyalfishel
	rebase = group user/eyalfishel
	removeReviewer = group user/eyalfishel
	submit = group user/eyalfishel
[access "refs/heads/*"]
	read = group user/eyalfishel
	create = group user/eyalfishel
	push = +force group user/eyalfishel
	pushMerge = group user/eyalfishel
[access "refs/tags/*"]
	push = +force group user/eyalfishel
	pushTag = group user/eyalfishel
	pushSignedTag = group user/eyalfishel
